# Node
node_modules/
yarn.lock
pnpm-lock.yaml

# Build outputs
build/
dist/
.coverage/

# Environment
.env
.env.*
!.env.example
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor
.vscode/
.idea/
.DS_Store

# Misc
*.local
